<!DOCTYPE HTML>
<html>
    <head>
        <meta type='keywords' content='ozo' />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="refresh" content="2; url=/login" />
        <title>
            OZO欢迎您
        </title>
        <style>
            body{
                background: url(../images/welcome.jpeg) fixed center center;
            }
            h1{
                font: 45px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
                height: 60px;
                color: #ffff;
                text-align: center;
                line-height: 35px;
                padding: 0px 0px 0px 0px;
            }
            div{
                width: 490px;
                height: 280px;
                padding: 35px;
                color: #EEE;
                position: absolute;
                left: 50%;
                top:80px;
                margin-left: -175px;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>OZO 感受都市之风</h1>
        </div>
    </body>
</html>